<% content_for(:title) { "My Dashboard" } %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to("Home", root_path) %>
            </li>
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
</div>

<% if @user.fatsecret_token.nil?  %>
    <% if @user == current_user %>
        <%= link_to 'Connect your FatSecret Account', signin_path(:fatsecret), :class => 'btn btn-primary' %>
    <% end %>
<% else %>
    <%= render 'fatsecret_food_entries' %>   
<% end %>