<% content_for(:title) { "Client Food Diary" } %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= @client.first_name if @client.first_name %> <%= @client.last_name if @client.last_name %></h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to("Practice", practice_dashboard_index_path) %>
            </li>
            <li class="active">
                <strong>Clients</strong>
            </li>
        </ol>
    </div>
</div>

<% if @client.fatsecret_token.nil?  %>
    <% if @client == current_user %>
        <%= link_to 'Connect your FatSecret Account', signin_path(:fatsecret), :class => 'btn btn-primary' %>
    <% end %>
<% else %>
    <%= render 'fatsecret_food_entries' %>   
<% end %>