<div class="span8, offset2">
<% content_for(:title) { "User Profile" } %>

<p>
  <%= image_tag @user.avatar.url(:web) %>
</p>

<h1><%= @user.name %></h1>


<h2>Contact information</h2>
<p><%= @user.first_name if @user.first_name %> <%= @user.last_name if @user.last_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Phone: <%= @user.phone if @user.phone %></p>
<p>Email: <%= @user.email if @user.email %></p>


<% if @user.fatsecret_token.nil? %>
<%= link_to 'Connect your FatSecret Account', signin_path(:fatsecret), :class => 'btn btn-primary' %>
<% else %>

<h2>Fatsecret</h2>
<p>Fatsecret token: <%= @user.fatsecret_token if @user.fatsecret_token %></p>
<p>Fatsecret secret: <%= @user.fatsecret_secret if @user.fatsecret_secret %></p>

<h2>Fatsecret data</h2>
<%= @body %>

<% end %>

<br />
<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-mini' %>


</div>

