<h3>Welcome to IN+</h3>
<p>Help, I need a great home page.
  <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
</p>
<p>Login in. To see it in action.</p>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'm-t', :html => { :role => 'form'}) do |f| %>
<%= devise_error_messages! %>
<div class="form-group">
  <%= f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
</div>
<%= f.submit 'Sign in', :class => 'btn btn-primary block full-width m-b' %>
<% if devise_mapping.rememberable? -%>
<div class="checkbox" style="width:150px">
  <label>
    <%= f.check_box :remember_me %> Remember me
  </label>
</div>
<% end %>
<% end %>
<small><%= link_to "Forgot password?", new_password_path(resource_name) %></small>
<p class="text-muted text-center"><small>Do not have an account?</small></p>
<%= link_to 'Create an account for your practice', '/practice/register', class: 'btn btn-sm btn-white btn-block' %>  
